@import url(
'https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Oswald:wght@200;300;400;500;600&display=swap'
);

@tailwind base;
@tailwind utilities;
@tailwind components;

@keyframes headerDown {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes headerUp {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-thumb {
    width: 0px;
}

h1 {
    font-family: Oswald;
    @apply tracking-wider font-semibold text-5xl;
}

h2 {
    font-family: Oswald;
    @apply tracking-wider font-semibold text-4xl;
}

h3 {
    font-family: Oswald;
    @apply tracking-wider font-semibold text-3xl;
}

hr {
    @apply bg-fore h-px w-full border-none;
}

.overflow-guard {
    border-radius: 10px;
}

.monaco-editor {
    border-radius: 10px;
}

.ok-enter-active,
.ok-leave-active {
    transition: all 0.3s ease-in;
}

.ok-leave-to,
.ok-enter-from {
    opacity: 0;
}

.showHeader {
    animation: headerUp .5s ease-in-out;
}

.hideHeader {
    animation: headerDown .5s ease-in-out;
}
